{% extends 'layout.html' %}
{% block content %}
<form class = 'login' method="POST">
    {{ login_form.hidden_tag() }}
    <h3>
        <div> Username </div> 
        {{ login_form.username(class="text-field") }}
        <div> Password </div>
        {{ login_form.password(class="text-field") }}
        <input id="submit" type="submit" value="Login">
    </h3>

</form>
{% if get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
        <small class="login-warning">{{message}}</small>
    {% endfor %}
{% endif %}

{% endblock %}
