{% extends 'layout.html' %}
{% block content %}
<div class="classroom-grid-container">
    {% for i in giga_list %}
    <div class="classroom-grid-items">
        <a href="classroom/{{i[0]}}"  class="classroom-grid-title"><div>{{i[0]}}</div></a>
        <ul>
            <li class="temp"> <i class="fa-solid fa-temperature-three-quarters fa-2lg"></i><small class="icon-text">Temperature</small><div>{{i[1]}}</div></li>
            <li class="outTemp"> <div>No data</div><small class="icon-text">Outside Temperature</small> </li>
            <li class="humidity"> <i class="fa-solid fa-droplet fa-2lg"></i><small class="icon-text">Humidity</small> <div>{{i[2]}}</div> </li>
            <li class="windSpeed"> <i class="fa-solid fa-wind fa-2lg"></i><small class="icon-text">Wind Speed</small><div>{{i[4]}}</div> </li>
            <li class="date"> <i class="fa-solid fa-clock-rotate-left fa-2lg"></i> <div>No data</div> </li>
            <li class="sound">
                <div class="sound-meter">
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <small class="icon-text">Sound</small>
                    <span class="sound-db">{{i[3]}}dB</span>
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}