{% extends 'layout.html' %}
{% block content %}
<div class="classroom-grid-container">
    {% for i in giga_list %}
    <div class="classroom-grid-items">
        <a href="classroom/{{i[0]}}"  class="classroom-grid-title"><div>{{i[0]}}</div></a>
        <ul>
            <li class="temp"> <i class="fa-solid fa-temperature-three-quarters"></i>{{i[1]}} </li>
            <li class="humidity"> {{i[2]}} </li>
            <li class="sound"> {{i[3]}} </li>
            <li class="windSpeed"> {{i[4]}} </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}