{% extends 'layout.html' %}
{% block content %}
<div class="classroom-grid-container">
    {% for i in giga_list %}
    <div class="classroom-grid-items">
        <a href="classroom/{{i[0]}}"  class="classroom-grid-title"><div>{{i[0]}}</div></a>
        <ul>
            <li class="temp"> <i class="fa-solid fa-temperature-three-quarters fa-2xl"></i>{{i[1]}} </li>
            <li class="outTemp"> No data </li>
            <li class="humidity"> <i class="fa-solid fa-droplet fa-2xl"></i>{{i[2]}} </li>
            <li class="sound"> {{i[3]}} </li>
            <li class="windSpeed"> <i class="fa-solid fa-wind fa-2xl"></i>{{i[4]}} </li>
            <li class="date"> <i class="fa-solid fa-clock-rotate-left fa-2xl"></i>No data </li>
            <li class="temp"> <i class="fa-solid fa-temperature-three-quarters"></i>{{i[1]}} </li>
            <li class="out-temp"> No data </li>
            <li class="humidity"> {{i[2]}} </li>
            <li class="sound">
                <div class="sound-meter">
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <i class="fa-solid fa-square-full"></i>
                    <span class="sound-db">{{i[3]}}dB</span>
                </div> 
            </li>
            <li class="wind-speed"> {{i[4]}} </li>
            <li class="date"> No data </li>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}