
{% extends 'layout.html' %}
{% block content %}
<form method="POST">
    {{ register_form.hidden_tag() }}
    <h3>
        <div> Username </div> 
        {{ register_form.username(class="text-field") }}
        <div> Password </div>
        {{ register_form.password(class="text-field") }}
        <div> Repeat the password </div>
        {{ register_form.password_repeat(class="text-field") }}
        <input id="submit" type="submit" value="Register">
    </h3>

</form>

<small><a href="{{url_for('login')}}">Have an account? Login</a></small>
{% if get_flashed_messages() %}
    {% for message in get_flashed_messages() %}
        {{message}}
    {% endfor %}
{% endif %}
{% endblock %}
