main{
    padding: 0;
}

.chart-container{
    margin: auto;
    margin-top: 1%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "temp humidity"
        "vent loud" ;
    column-gap: 10px;
    & > *:not(.title){
        border: 4px #adadad solid;
        background-color: #4d4949;
    }
}

.title{
    grid-area: title;
    margin: auto;
    position: relative;
    & > h1{
        // Positioning
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: -1.7em;
        z-index: 1;
        // General Style
        padding: 0rem 2rem;
        font-size: 2rem;
        background: #636363;
        border: solid #9c80a8;
        border-radius: 0;
        font-weight: normal;
    }
}

.temp_chart, .loud_chart, .humidity_chart, .vent_chart{
    padding: 0.5rem;
    border-radius: 1rem;
}

.temp_chart{
    grid-area: temp;
    margin: auto;
}

.loud_chart{
    margin: auto;
    margin-top: 5%;
    grid-area: loud;
}

.humidity_chart{
    grid-area: humidity;
    margin: auto;
}

.vent_chart{
    margin: auto;
    margin-top: 5%;
    grid-area: vent;
}