.error-box{
    position:relative;
    /* Box */
    display: flex;
    flex-direction: column;
    
    border: solid 2px var(--edge-color);
    background-color: var(--main-color);
    border-radius: 2rem;

    /* Text alignment */
    padding: 1rem;
    max-width: fit-content;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    & > .error-code{
        color: var(--link-color);
        margin-bottom: 10px;
    }
    & > .response{
        margin: 0;
    }
}