/* Only used by Logout and Login */
.text-field {
    font-family: "Nunito";
    background-color: #0000001e;
    color: var(--link-color);
    width: 100%;
    font-size: 1.5rem;
    border: solid 2px #adadad7e;
    border-radius: 0.5em;
    padding-left: 5px;
    outline: none;

    &:focus {
        box-shadow: none;
        border-style: solid;
        background-color: #0000003f;
    }
}

#form-title{
    height: fit-content;
    border:solid 2px #ceb6d8;
}

.logout-field{
    list-style: none;
    padding: 0;
    
    & > li{
        display: block;
    }

    /* Can't add tags directly to the input field */
    & > li > input{
        opacity: 0%;

        &:hover ~ label{
            outline: 1px solid #ceb6d86c;
            cursor: pointer;
        }

        &:checked ~ label{
            background-color: #f2d5ff10;
            outline: 1px solid var(--link-color);
        }
    }

    & > li > label{
        display: block;
        margin-top: -1rem;
        padding-right: 10px;
        padding-left: 10px;
    }
}



/* Containers for all 3 "user forms" */
.login,
.register,
.logout {
    position: relative;
    /* Box */
    display: flex;
    flex-direction: column;

    border: solid 2px var(--edge-color);
    background-color: var(--main-color);
    border-radius: 1.5rem;

    /* Text alignment */
    max-width: fit-content;
    margin: auto;
    margin-top: 5%;

    &>h3 {
        font-weight: lighter;
        position: relative;
        margin: 0;
        padding: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        & > div:not(:first-child){
            padding-top: 20px;
        }
    }
}

/* <small> was an inline element the entire time?!?! */
.user-warning{
    color: #f3d6ff;
    display: block;
    margin-top: 5px;
}


#submit{
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 1rem;
    background-color: transparent;
    color: var(--link-color);
    outline: none;
    border: 2px solid var(--edge-color);
    border-radius: 1rem;
    padding: 0.5rem;


    &:hover{
        cursor: pointer;
        border-color: var(--link-color);
        color: var(--link-color);

    }
}

