.text-field {
    font-family: "Nunito";
    background-color: transparent;
    color: var(--link-color);
    width: 100%;
    font-size: 1.5rem;
    border: solid 2px #adadad7e;
    border-radius: 0.5em;
    padding-left: 5px;
    outline: none;

    &:focus {
        box-shadow: none;
        border-style: solid;
        border-color: var(--edge-color);
    }
}

#form-title{
    height: fit-content;
    border:solid 2px #ceb6d8;
}

.login,
.register {
    position: relative;
    /* Box */
    display: flex;
    flex-direction: column;

    border: solid 2px var(--edge-color);
    background-color: var(--main-color);
    border-radius: 2rem;

    /* Text alignment */
    max-width: fit-content;
    margin: auto;
    margin-top: 5%;

    &>h3 {
        font-weight: lighter;
        position: relative;
        margin: 0;
        padding: 4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        & > div:not(:first-child){
            padding-top: 20px;
        }
    }
}

/* <small> was an inline element the entire time?!?! */
.user-warning{
    display: block;
}


#submit{
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 1rem;
    background-color: transparent;
    color: var(--link-color);
    outline: none;
    border: 2px solid var(--edge-color);
    border-radius: 2rem;
    padding: 0.5rem;

    &:hover{
        border-color: var(--link-color);
        color: var(--link-color);
    }
}