#classroom-header{
    text-align: center;
    padding: 0;
    margin: 5% 0;
}

.sidebar{
    border-left: solid #adadad 2px;
}

.classroom-list{
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.classroom-list-items{
    list-style: "|";
    padding-left: 5%;
    margin-left: 5%;
    &::marker{
        color: #F3D8FF;
    }
    & > a{
        color: #a8c2a9;
        &:hover{
            color: #F3D8FF;
        }
    }
}