/* imports */
@import url(//fonts.googleapis.com/css?family=Nunito);
main {
  padding: 0;
}

.chart-container {
  margin: auto;
  margin-top: 1%;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "temp humidity" "vent loud";
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.chart-container > *:not(.title) {
  border: 4px var(--edge-color) solid;
  background-color: #4d4949;
}

.title {
  grid-area: title;
  margin: auto;
  position: relative;
}
.title > h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -1.7em;
  z-index: 1;
  padding: 0rem 2rem;
  font-size: 2rem;
  background: #636363;
  border: solid #9c80a8;
  border-radius: 0;
  font-weight: normal;
}

.temp_chart, .loud_chart, .humidity_chart, .vent_chart {
  padding: 0.5rem;
  border-radius: 1rem;
}

.temp_chart {
  grid-area: temp;
  margin: auto;
}

.loud_chart {
  margin: auto;
  margin-top: 5%;
  grid-area: loud;
}

.humidity_chart {
  grid-area: humidity;
  margin: auto;
}

.vent_chart {
  margin: auto;
  margin-top: 5%;
  grid-area: vent;
}

#classroom-header {
  text-align: center;
  padding: 0;
  margin: 5% 0;
  font-weight: normal;
}

.sidebar {
  border-left: solid var(--edge-color) 2px;
  overflow-y: auto;
}

.classroom-list {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border-top: solid 1px var(--edge-color);
}

.classroom-list-items {
  list-style: "|";
  padding-left: 5%;
  margin-left: 5%;
}
.classroom-list-items::marker {
  color: #F3D8FF;
}
.classroom-list-items > a {
  color: #c7e6c8;
}
.classroom-list-items > a:hover {
  color: #F3D8FF;
}

footer {
  border-top: solid #adadad 2px;
  color: #b7ceb8;
}

.error-box {
  position: relative;
  /* Box */
  display: flex;
  flex-direction: column;
  border: solid 2px var(--edge-color);
  background-color: var(--main-color);
  border-radius: 2rem;
  /* Text alignment */
  padding: 1rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.error-box > .error-code {
  color: var(--link-color);
  margin-bottom: 10px;
}
.error-box > .response {
  margin: 0;
}

/* Only used by Logout and Login */
.text-field {
  font-family: "Nunito";
  background-color: rgba(0, 0, 0, 0.1176470588);
  color: var(--link-color);
  width: 100%;
  font-size: 1.5rem;
  border: solid 2px rgba(173, 173, 173, 0.4941176471);
  border-radius: 0.5em;
  padding-left: 5px;
  outline: none;
}
.text-field:focus {
  box-shadow: none;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.2470588235);
}

#form-title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: solid 2px #ceb6d8;
}

.logout-field {
  list-style: none;
  padding: 0;
  /* Can't add tags directly to the input field */
}
.logout-field > li {
  display: block;
}
.logout-field > li > input {
  opacity: 0%;
}
.logout-field > li > input:hover ~ label {
  outline: 1px solid rgba(206, 182, 216, 0.4235294118);
  cursor: pointer;
}
.logout-field > li > input:checked ~ label {
  background-color: rgba(242, 213, 255, 0.062745098);
  outline: 1px solid var(--link-color);
}
.logout-field > li > label {
  display: block;
  margin-top: -1rem;
  padding-right: 10px;
  padding-left: 10px;
}

/* Containers for all 3 "user forms" */
.login,
.register,
.logout {
  position: relative;
  /* Box */
  display: flex;
  flex-direction: column;
  border: solid 2px var(--edge-color);
  background-color: var(--main-color);
  border-radius: 1.5rem;
  /* Text alignment */
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  margin-top: 5%;
}
.login > h3,
.register > h3,
.logout > h3 {
  font-weight: lighter;
  position: relative;
  margin: 0;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.login > h3 > div:not(:first-child),
.register > h3 > div:not(:first-child),
.logout > h3 > div:not(:first-child) {
  padding-top: 20px;
}

/* <small> was an inline element the entire time?!?! */
.user-warning {
  color: #f3d6ff;
  display: block;
  margin-top: 5px;
  white-space: pre-wrap;
}

#submit {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 1rem;
  background-color: transparent;
  color: var(--link-color);
  outline: none;
  border: 2px solid var(--edge-color);
  border-radius: 1rem;
  padding: 0.5rem;
}
#submit:hover {
  cursor: pointer;
  border-color: var(--link-color);
  color: var(--link-color);
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* GLOBAL VARIBALES */
:root {
  --text-color: #C9E4CA;
  --main-color: #636363;
  --main-color-darker: #303030;
  --border-color: white;
  --link-color: #F3D8FF;
  --small-box-color: #f3d8ff0e;
  --edge-color: #adadad;
  --react-color: #a195a7;
}

/* Deals with border box issues */
/* hooray responsive designs */
html {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Nunito";
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  /* This doesn't work right now */
  font-family: "font-awesome";
  src: url("/static/fonts/fa-regular-400.ttf");
}
body {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  /* 
     The numbers here can get finicky,
     best use standard numbers. i.e NOT 0.235
  */
  grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
  grid-template-rows: 0.2fr 4fr 4fr 0.2fr;
  grid-template-areas: "hd nav nav nav" "main main main sb" "main main main sb" "ft ft ft sb";
  color: var(--text-color);
  background-color: var(--main-color);
}

header {
  grid-area: hd;
  box-sizing: border-box;
  padding-right: 2rem;
  border-bottom: 2px var(--edge-color) solid;
}

/* HEADER TAG */
/* Adding some finesse for the header title */
header > h1 {
  color: var(--link-color);
  margin: 0px;
  margin-left: 2rem;
  box-sizing: content-box;
  font-size: 2rem;
  block-size: 100%;
  text-wrap: nowrap;
  line-height: 150%;
  /* To fix wrapping issues related in firefox */
  white-space: nowrap;
}

header > h1 .cap-c {
  color: var(--text-color);
}

header > h1 .dash {
  color: var(--text-color);
}

/* NAV TAG */
nav {
  grid-area: nav;
  max-height: 2rem;
  min-height: 100%;
  height: 100%;
  border-bottom: 2px var(--edge-color) solid;
  /* flex box container */
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  padding-right: 1%;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* flex children lmfao */
}
nav ul li {
  list-style-type: none;
  /* and finally, the links*/
}
nav ul li .nav-buttons {
  color: var(--text-color);
  /* These 2 things allow the anchor to be bigger */
  display: inline-block;
  height: 100%;
  /* spacing between links */
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}
nav ul li .nav-buttons:hover {
  color: rgb(241, 255, 243);
  background-color: var(--react-color);
  box-sizing: border-box;
}
nav ul #nav-seperator {
  flex-grow: 1;
}
nav ul #username {
  white-space: nowrap;
  line-height: 3;
}

/* MAIN TAG */
main {
  grid-area: main;
  overflow: auto;
  background-color: var(--main-color-darker);
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  min-height: 100%;
}

.classroom-grid-container {
  /* IMPORTANT FOR SETTING ITEMS INSIDE THE CONTAINER */
  position: relative;
  /* Grid stuff */
  display: grid;
  grid-template-areas: "g-c g-c g-c" "g-c g-c g-c";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* ul stuff */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* The classroom id/title in the 6 grid layout*/
.classroom-grid-title {
  /* Text related properties */
  text-align: center;
  color: #C9E4CA;
  box-sizing: border-box;
  /* Title box properties */
  border: #9c80a8 solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  background-color: var(--main-color);
  /* Positioning */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -1em;
  z-index: 1;
  /* text inside the title box*/
}
.classroom-grid-title:hover {
  border: var(--link-color) solid;
}
.classroom-grid-title div {
  position: relative;
  box-sizing: content-box;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

/* This is where most the content will be in */
.classroom-grid-items {
  position: relative;
  margin: 1em;
  box-sizing: content-box;
  /* Boxesthings */
  background-color: #555555;
  border-radius: 20px;
  border: rgb(170, 170, 170) solid;
  /* Third grid */
}
.classroom-grid-items ul {
  /* There's an issue related with font-size breaking the layout */
  /* via overflowing the content, DO NOT USE font-size here */
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding-top: 30px;
  padding-left: clamp(10px, 2%, 1%);
  padding-bottom: 10px;
  /* Grid Stuff */
  display: grid;
  grid-template-areas: "temp outTemp sound" "humidity windSpd sound" "date date sound";
  grid-template-columns: 1fr 1fr 0.1fr;
  grid-template-rows: 1fr 1fr 0.1fr;
  row-gap: 0.5em;
  -moz-column-gap: 10px;
       column-gap: 10px;
  list-style: none;
  text-align: center;
}
.classroom-grid-items ul li:not(.sound) {
  white-space: nowrap;
  /* This color is specifically unique to one thing that never appears again */
  background-color: rgba(243, 216, 255, 0.0549019608);
  border-radius: 1rem;
}
.classroom-grid-items ul li:not(.sound) div:not(.sound-db) {
  font-size: 1.2em;
}
.classroom-grid-items ul li:not(.sound) > * {
  display: block;
}
.classroom-grid-items ul li:not(.sound) > i {
  width: 100%;
  height: 50%;
}
.classroom-grid-items ul li:not(.sound) > i::before {
  position: relative;
  bottom: -50%;
}
.classroom-grid-items ul li:not(.sound) > small {
  padding: 0;
}
.classroom-grid-items ul .icon-text {
  color: #f0ccff;
  font-size: 1rem;
  padding-top: 10px;
  display: block;
}
.classroom-grid-items ul .temp {
  grid-area: temp;
}
.classroom-grid-items ul .humidity {
  grid-area: humidity;
}
.classroom-grid-items ul .wind-speed {
  grid-area: windSpd;
}
.classroom-grid-items ul .sound {
  grid-area: sound;
  text-align: center;
}
.classroom-grid-items ul .sound .sound-db, .classroom-grid-items ul .sound small {
  color: var(--text-color);
  font-size: smaller;
}
.classroom-grid-items ul .sound .sound-meter {
  padding-right: 0.5rem;
  font-size: 1.25rem;
  color: var(--edge-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.classroom-grid-items ul .sound .sound-meter > i {
  flex-grow: 1;
}
.classroom-grid-items ul .sound .sound-meter i:hover {
  color: var(--link-color);
}
.classroom-grid-items ul .out-temp {
  grid-area: outTemp;
}
.classroom-grid-items ul .date {
  grid-area: date;
}
.classroom-grid-items ul .date .date-grid {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-areas: "icon st" "icon text";
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.classroom-grid-items ul .date .date-grid > i {
  grid-area: icon;
  display: block;
  position: relative;
  height: 100%;
}
.classroom-grid-items ul .date .date-grid i::before {
  position: relative;
  font-size: 2rem;
  bottom: -25%;
}
.classroom-grid-items ul .date .date-grid .icon-text {
  grid-area: st;
  padding: 0px;
  height: 100%;
  margin-top: 5px;
}
.classroom-grid-items ul .date .date-grid .date-text {
  grid-area: text;
  height: 100%;
  margin-bottom: 5px;
}

.sidebar {
  grid-area: sb;
}

/* anchor tags a.k.a links */
a {
  text-decoration: none;
  color: white;
}

/* FOOTER TAG */
footer {
  grid-area: ft;
  box-sizing: border-box;
}

footer > * {
  margin: 0;
  margin-left: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* TIL: border-box is supposed to be used in the child not the parent lmao */
  box-sizing: border-box;
}/*# sourceMappingURL=layout.css.map */