/* imports */
@import url(//fonts.googleapis.com/css?family=Nunito);

/* GLOBAL VARIBALES */

:root{
    --text-color: #C9E4CA;
    --main-color: #636363;
    --main-color-darker: #303030;
    --border-color: white;

}

/* Deals with border box issues */
/* hooray responsive designs */
html {
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Nunito";
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    /* This doesn't work right now */
    font-family: "font-awesome";
    src: url("/static/fonts/fa-regular-400.ttf");
}

body{
    box-sizing: border-box;
    margin: 0;
    display: grid;
    width: 100vw;
    height: 100vh;

    /* 
       The numbers here can get finicky,
       best use standard numbers. i.e NOT 0.235
    */
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: 0.2fr 4fr 4fr 0.2fr;
    grid-template-areas:
        "hd nav nav nav" 
        "main main main sb" 
        "main main main sb" 
        "ft ft ft sb"
    ;
    color: var(--text-color);
    background-color: var(--main-color);
}

header{
    grid-area: hd;
    box-sizing: border-box;
    padding-right: 2rem;
    border-bottom: 2px #adadad solid;
}

/* HEADER TAG */
/* Adding some finesse for the header title */ 
header > h1{
    color: #F3D8FF;
    margin: 0px;
    margin-left: 2rem;
    box-sizing: content-box;
    font-size: 2rem;
    block-size: 100%;
    text-wrap: nowrap;
    line-height: 150%;
    /* To fix wrapping issues related in firefox */
    white-space: nowrap;
}

header > h1 .cap-c{
    color: #C9E4CA;
}

header > h1 .dash{
    color: var(--text-color)
}

/* NAV TAG */
nav{
    grid-area: nav;
    max-height: 2rem;
    min-height: 100%;
    height: 100%;
    border-bottom: 2px #adadad solid;

    /* flex box container */
    ul{
        display: flex;
        flex-wrap: nowrap;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;

        /* flex children lmfao */
        li{
            list-style-type: none;


            /* and finally, the links*/
            a{
                color: var(--text-color);
                /* These 2 things allow the anchor to be bigger */
                display: inline-block;
                height: 100%;
                /* spacing between links */
                padding-left: 2rem;
                padding-right: 2rem;
                font-size: 1.5rem;
                text-align: center;
                line-height: 3rem;
                
                &:hover{
                    color: rgb(241, 255, 243);
                    background-color: #f3d8ff57;
                    box-sizing: border-box;
                }
            }
        }
    }
}

/* MAIN TAG */
main{
    grid-area: main;
    overflow: hidden;
    background-color: var(--main-color-darker);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.classroom-grid-container{
    /* IMPORTANT FOR SETTING ITEMS INSIDE THE CONTAINER */
    overflow: hidden;
    position: relative;

    /* Grid stuff */
    display: grid;
    grid-template-areas:
    "g-c g-c g-c"
    "g-c g-c g-c";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* ul stuff */
    width: 100%;
    height: 100%;
    min-height: 30%;
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}

/* The classroom id/title in the 6 grid layout*/
.classroom-grid-title{
    /* Text related properties */
    text-align: center;
    color: #C9E4CA;
    box-sizing: border-box;

    /* Title box properties */
    border: #9c80a8 solid;
    height: 2em;
    width: 50%;
    background-color: var(--main-color);

    /* Positioning */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -1em;
    
    &:hover{
        border: #F3D8FF solid;
    }
    /* text inside the title box*/
    div{
        position: relative;
        box-sizing: content-box;
        height: 100%;
        text-align: center;
        line-height: 150%;
        overflow: hidden;
    }
}

/* This is where most the content will be in */
.classroom-grid-items{
    position: relative;
    margin: 1em;
    box-sizing: content-box;
    /* Boxesthings*/
    background-color: #555555;
    border-radius: 20px;
    border: rgb(170, 170, 170) solid;
    /* Third grid */
    ul{
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: auto;
        padding-top: 30px;
        /* Grid Stuff*/
        display: grid;
        grid-template-areas:
        "temp outTemp sound"
        "humidity windSpd sound"
        "date date sound";
        grid-template-columns: 1fr 1fr 0.2fr;
        grid-template-rows: 1fr 1fr 0.2fr;
        list-style: none;
        font-size: 2rem;
        .temp{
            grid-area: temp;
        }
    
        .humidity{
            grid-area: humidity;
        }

        .wind-speed{
            grid-area: windSpd;
        }

        .sound{
            grid-area: sound;
            padding-left: 20px;
            text-align: center;
            
            .sound-db{
                margin-top: 5px;
                margin-right: 10px;
                color: var(--text-color);
                
            }

            .sound-meter{
                color: #adadad;
                display: flex;
                flex-direction: column;
                flex-grow: 0;
                gap: 13px;
            }
        }

        .out-temp{
            grid-area: outTemp;
        }

        .date{
            grid-area: date;
        }
    }
}

.sidebar{
    grid-area: sb;
}

/* anchor tags a.k.a links */
a{
    text-decoration: none;
    color: white;
}

/* FOOTER TAG */
footer{
    grid-area: ft;
    box-sizing: border-box;
}

footer > *{
    margin: 0;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* TIL: border-box is supposed to be used in the child not the parent lmao */
    box-sizing: border-box;
}