<ul>
    <li><a href="/" class="nav-buttons">Home</a></li>
    <li><a href="/about" class="nav-buttons">About</a></li>
    <li id="nav-seperator"> </li>
    {% if current_user.username %}
    <li id="logout"><a href="/logout" class="nav-buttons" style="margin-right: 10px;"><small>Logout</small></a> </li>
    <li id="username"> Logged in as <span style="color:#F3D8FF;" >{{ current_user.username }}</span> </li>
    {% else %}
    <li><a href="/login" class="login-button nav-buttons"> Login </a></li>
    <li><a href="/register" class="register-button nav-buttons"> Register </a></li>
    {% endif %}
</ul>